* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #78909C;
}

a {
  text-decoration: none;
}

button.MuiButtonBase-root.MuiButton-root {
  color: #F0F0F0;
  background-color: #198D95;
  border: 1px solid #102F34;
  padding: 10px 40px;

  &:hover {
    background-color: #126369;
  }
}

button.MuiButtonBase-root.MuiFab-root {
  border-radius: 50%;
  background-color: #34386d;

  &:hover {
    background-color: #2a2f58;
  }
}

input.MuiInputBase-input {
  width: 100%;
}